{{ form_start(form) }}
    
    <div class="row">
        <div class="col-xs-12">
            <div class="field">
                <input type="password" name="info[old_password]" autocomplete="off" required />
                <label>Mot de passe actuel</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="field">
                <input type="password" name="info[new_password]" autocomplete="off" required />
                <label>Nouveau mot de passe</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="field">
                <input type="password" name="info[confirm_password]" autocomplete="off" required />
                <label>Confirmer nouveau mot de passe</label>
            </div>
        </div>
    </div>

    <div class="row hidden">
        <div class="col-xs-12">
            <button type="submit">Modifier</button>
        </div>
    </div>

    
{{ form_end(form, {'render_rest':false}) }}
